<ion-header>
    <ion-navbar>
        <ion-title>
            Ionic Cache Src
        </ion-title>
    </ion-navbar>

    <ion-toolbar>
        <ion-segment [(ngModel)]="segment">
            <ion-segment-button value="images">
                Images
            </ion-segment-button>
            <ion-segment-button value="videos">
                Videos
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div [ngSwitch]="segment">
        <div *ngSwitchCase="'images'">
            <img *ngFor="let image of images" [cacheSrc]="image"/>
        </div>

        <div *ngSwitchCase="'videos'">
            <video *ngFor="let video of videos" [cacheSrc]="video" controls autoplay></video>
        </div>
    </div>
</ion-content>
